

@media only screen and (max-width: 600px){

/* Elementer som IKKE skal vises i mobilversion */
.web-problemstilling-header {
  display: none;
}

.tegn {
  display: none;
}

.tegn2 {
  display: none;
}

p {
  font-family: 'Roboto Mono', 'monospace';
  font-size: 15px;
  line-height: 1.7em;
  letter-spacing: -0.013;
  font-weight: 400;
}

.body-tekst {
     margin: 5px;
     width: 100%;
}

h1 {
    text-align: center;
    width: 80%;
    font-family: 'Roboto Mono', 'monospace';
    margin-right: auto;
    margin-left: auto;
    font-size: 2em;
    background-color: rebeccapurple;
  }
h2 {
    font-family: 'Roboto Mono', 'monospace';
    font-size: 23px;
}

/* "Hvad skal din app koste" farve */
.farve-tekst {
  font-family: 'Roboto Mono', 'monospace';
  color: #D26D75;
}

/* "Fortæl os om din idé" farve */
.farve-tekst2 {
  font-family: 'Roboto Mono', 'monospace';
  color: #525F6D;
}

.farve-tekst5 {
  color: #6696AC;
}

.light-bulb {
    display: block;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
    padding-bottom: 200px;
  }
  
.header-nav, .single-nav {
    padding: 50px 40px;
    width: 240px;
    position: fixed;
    top: 0;
    right: 20px;
    z-index: 3;
    overflow-y: auto;
    background-color: violet;
}


.headertext {
  font-family: 'Roboto Mono', 'monospace';
  margin-left: 20px;
  background-color: cadetblue;
}

.cost-header {
  font-family: 'Roboto Mono', 'monospace';
  padding-left: 15px;
}

.cost-text {
  font-family: 'Roboto Mono', 'monospace';
  padding-left: 15px;
  max-width: 360px;
  min-width: 200px;
}

.problemstilling-header {
  font-family: 'Roboto Mono', 'monospace';
  margin-left: 15px;
  margin-bottom: 50px;
}

/* Box hvor man skriver sine idéer og tanker ind */
textarea {
  resize: none;
  font-family: 'Roboto Mono', 'monospace';
  font-size: 18px;
  width: 370px;
  height: 500px;
  max-height: 500px;
  margin-left: 20px;
  border: 2px solid #707070;
}

/* Godkend knap når man har skrevet sine ideer og tanker ind */
.idea-button {
  font-family: 'Roboto Mono', 'monospace';
  display: inline-block;
  font-size: 20px;
  color: #6696AC;
  padding: 15px 32px;
  margin-left: 237px;
  margin-top: 10px;
  margin-bottom: 50px;
  border: 3px solid #6696AC;
  cursor: pointer;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.question {
  display: none;
  
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}


/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color */
ul li.checked {
  background: #525f6d;
  color: #fff;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #6696ac;
  color: white;
}

/* Style the header */
.morebtn {
  margin: 0;
  padding: 0;
  padding-top: 5%;
  margin-bottom: -20px;
  text-align: center;
}

/* Clear floats after the header */
.morebtn:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
#myInput {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: none;
  color: #6696ac;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0;
  border-color: #6696ac;
  border: solid;
}

.viderebtn {
  padding: 10px;
  margin-top: 10px;
  width: 25%;
  background: none;
  color: #6696ac;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0;
  border-color: #6696ac;
  border: solid;
}

.fill {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  visibility: hidden;
}

}

@media only screen and (min-width: 600px) {



/* "Hvad skal din app koste?" header */
.cost-header {
  color: #525F6D;
}

.cost-text {
  max-width: 360px;
}

/* "Fortæl os om din idé" header */
.problemstilling-header {
  font-family: 'Roboto Mono', 'monospace';
  margin-top: 100px;
  margin-left: 150px;
  max-width: 1200px;
  font-size: 40px;
  color: #707070;
}

/* "Hvad er din vision" header, som kun vises på stor side */
.web-problemstilling-header {
  font-family: 'Roboto Mono', 'monospace';
  font-size: 50px;
  max-width: 1200px;
  font-weight: 300;
}

/* Krøllede parentes */
.tegn {
  font-weight: 300;
}

.tegn2 {
  margin-left: 10px;
  font-weight: 300;
  color:#707070;

}

/* Farve i "hvad er din vision" header */
.farve-tekst3 {
  color: #D8A55A;
}

/* Farve i "hvad skal den indeholde" header*/
.farve-tekst4 {
  color: #6696AC;
}

p {
  font-family: 'Roboto Mono', 'monospace';
  font-size: 15px;
  padding-left: 85px;
  text-align: left;
  line-height: 1.7em;
  letter-spacing: -0.013;
  min-width: 300px;
}

.light-bulb {
  height: 400px;
  padding-left: 150px;
  width: 500px;
  min-width: 200px;
  max-width: 500px;
}

  .item1 { grid-area: text; }
  .item2 { grid-area: image; }
  
/* Grid for lyspære billede og tekst omkring hvad en app koster */
  .grid-container {
    display: grid;
    grid-template-areas:
      'text image';
  }

/* Hvad skal din app koste? */
  .cost-header {
    font-family: 'Roboto Mono', 'monospace';
    padding-left: 85px;
  }

  /* Tekst omkring hvad en app koster */
  .item1 {
    padding-top: 300px;
    padding-left: 70px;
    padding-bottom: 200px;
  }

/* Lyspære billede */
  .item2 {
    padding-top: 280px;
    padding-right: 200px;
    padding-bottom: 200px;
  }

/* Box hvor man skriver sine idéer og tanker ind */
textarea {
  resize: none;
  font-family: 'Roboto Mono', 'monospace';
  font-size: 20px;
  width: 850px;
  height: 500px;
  max-height: 500px;
  margin-left: 150px;
  border: 2px solid #707070;
}

/* Godkend knap når man har skrevet sine ideer og tanker ind */
.idea-button {
  font-family: 'Roboto Mono', 'monospace';
  display: inline-block;
  font-size: 20px;
  color: #6696AC;
  padding: 15px 32px;
  margin-left: 847px;
  margin-top: 10px;
  margin-bottom: 200px;
  border: 3px solid #6696AC;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin-right: 10%;
  padding-left: 25%;
  list-style-type: none;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.question {
  width: 60%;
  height: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}


/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color */
ul li.checked {
  background: #525f6d;
  color: #fff;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #6696ac;
  color: white;
}

/* Style the header */
.morebtn {
  margin-right: 10%;
  padding-left: 25%;
  text-align: center;
}

/* Clear floats after the header */
.morebtn:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
#myInput {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: none;
  color: #6696ac;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0;
  border-color: #6696ac;
  border: solid;
}

.viderebtn {
  padding: 10px;
  margin-top: 10px;
  width: 25%;
  background: none;
  color: #6696ac;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0;
  border-color: #6696ac;
  border: solid;
}

.fill {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  visibility: hidden;
}


}