

@media only screen and (max-width: 600px){

.web-problemstilling-header {
  display: none;
}

.tegn {
  display: none;
}

.tegn2 {
  display: none;
}

p {
  font-family: 'Roboto Mono', 'monospace';
  font-size: 15px;
  line-height: 1.7em;
  letter-spacing: -0.013;
  font-weight: 400;
}

.body-tekst {
     margin: 5px;
     width: 100%;
}

h1 {
    text-align: center;
    width: 80%;
    font-family: 'Roboto Mono', 'monospace';
    margin-right: auto;
    margin-left: auto;
    font-size: 2em;
    background-color: rebeccapurple;
  }
h2 {
    font-family: 'Roboto Mono', 'monospace';
    font-size: 23px;
}

.farve-tekst {
  font-family: 'Roboto Mono', 'monospace';
  color: #D26D75;
}

.farve-tekst2 {
  font-family: 'Roboto Mono', 'monospace';
  color: #525F6D;
}

.light-bulb {
    display: block;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
    padding-bottom: 200px;
  }
  
.header-nav, .single-nav {
    padding: 50px 40px;
    width: 240px;
    position: fixed;
    top: 0;
    right: 20px;
    z-index: 3;
    overflow-y: auto;
    background-color: violet;
}


.headertext {
  font-family: 'Roboto Mono', 'monospace';
  margin-left: 20px;
  background-color: cadetblue;
}

.cost-header {
  font-family: 'Roboto Mono', 'monospace';
  padding-left: 15px;
}

.cost-text {
  font-family: 'Roboto Mono', 'monospace';
  padding-left: 15px;
  max-width: 360px;
}

.problemstilling-header {
  font-family: 'Roboto Mono', 'monospace';
  margin-left: 15px;
  margin-bottom: 50px;
}

textarea {
  resize: none;
  font-family: 'Roboto Mono', 'monospace';
  font-size: 18px;
  width: 370px;
  height: 500px;
  max-height: 500px;
  margin-left: 20px;
  border: 2px solid #707070;
}


.idea-button {
  font-family: 'Roboto Mono', 'monospace';
  display: inline-block;
  font-size: 20px;
  color: #6696AC;
  padding: 15px 32px;
  margin-left: 240px;
  margin-top: 10px;
  margin-bottom: 50px;
  border: 3px solid #6696AC;
  cursor: pointer;
}
}

@media only screen and (min-width: 600px) {



.cost-header {
  color: #525F6D;
}

.problemstilling-header {
  font-family: 'Roboto Mono', 'monospace';
  margin-top: 100px;
  margin-left: 150px;
  max-width: 1200px;
  font-size: 40px;
  color: #707070;
}

.web-problemstilling-header {
  font-family: 'Roboto Mono', 'monospace';
  font-size: 50px;
  max-width: 1200px;
  font-weight: 300;
}

.tegn {
  font-weight: 300;
}

.tegn2 {
  margin-left: 10px;
  font-weight: 300;
  color:#707070;

}

.farve-tekst3 {
  color: #D8A55A;
}

p {
  font-family: 'Roboto Mono', 'monospace';
  font-size: 15px;
  max-width: 300px;
  padding-left: 85px;
  text-align: left;
  line-height: 1.7em;
  letter-spacing: -0.013;
}

.light-bulb {
  height: 300px;
  padding-top: 50px;
  width: 400px;
  min-width: 200px;
  max-width: 500px;
}

  .item1 { grid-area: text; }
  .item2 { grid-area: image; }
  
  .grid-container {
    display: grid;
    grid-template-areas:
      'text image';
  }

  .cost-header {
    font-family: 'Roboto Mono', 'monospace';
    padding-left: 85px;
  }

  .item1 {
    padding-top: 300px;
    padding-left: 70px;
    padding-bottom: 200px;
  }

  .item2 {
    padding-top: 280px;
    padding-right: 200px;
    padding-bottom: 200px;
  }

textarea {
  resize: none;
  font-family: 'Roboto Mono', 'monospace';
  font-size: 20px;
  width: 850px;
  height: 500px;
  max-height: 500px;
  margin-left: 150px;
  border: 2px solid #707070;
}

.idea-button {
  font-family: 'Roboto Mono', 'monospace';
  display: inline-block;
  font-size: 20px;
  color: #6696AC;
  padding: 15px 32px;
  margin-left: 850px;
  margin-top: 10px;
  margin-bottom: 50px;
  border: 3px solid #6696AC;
  cursor: pointer;
}

}