@charset "utf-8";
/* CSS Document */


/*kvittering side*/


@font-face {
   font-family: 'roboto';
   src: url(fonts/roboto-bold);
   font-style: normal;
   font-weight: 100;
}

h2{
	color: #707070;
	font-size: 4em;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: roboto;
	font-weight: 100;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	
}

h3{
	color: #707070;
	font-size: 3em;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: roboto;
	font-weight: 100;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	
	
}

.light {
	color: #D8A55A;
}

img{
	position: absolute;
	top: 50%;
	left: 41%;
	
}

.tags-input {
	border: 1px solid #333;
	display: inline-block;
}



.tags-input .tag{
	font-size: 85%;
	padding: 0.5em 0.85em;
	margin: 0.25em 0.1em;
	display: inline-block;
	background-color: #fff;
	transition: all 0.1s linear;
	cursor: pointer;
	
}

.tags-input .tag:hover{
	
	background-color: #3af;
	color: #fff;
}


/*javaScript*/


