* {
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #F0ecda;
  background-image: url('img/baggrundk.jpg');
  z-index: 100;
}
@media only screen and (max-width: 600px){
  /*Kontakt*/



  .h1k{
    font-family: 'palatino linotype';
    color:#333333;
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
  }
  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2em;

  }
  .aebk{
    font-family: 'palatino linotype';
    color:#333333;
  }
  .h2aa {
    font-size: 1.2em;
  }
  .leftarea {
    margin-top: 10%;
  font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: .9em;
    color: #333333;
    margin-left: 2em;
  }
  .leftarea .fas {
    background: #F0ecda;
    color: #3eac6a;
  }
  .adrk{
    margin-top: 1.3em;
  }
  .odensek{
    padding-left: 1.4em;
  }
  .rightarea{
    margin-top: 10%;
  font-family: 'Open Sans', sans-serif;
    color: #333333;
    margin-right: 2em;
    align-content: flex-end;
    text-align: center;
  }

  .adrk, .tlfk, .emailk, .mfk, .loerk, .soenk {
    padding-top: 1em;
  }

  .formwrapper {
  display: grid;
  grid-template-columns: 100%;
  margin-left: 1.4em;
  margin-right: 1.4em;
  margin-bottom: 1.4em;
  }

  .formk {
  font-family: 'Open Sans', sans-serif;
    font-size: .9em;
    color: #333333;
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;


  }

  .navntk, .emailtk, .emnetk, .bedskedtk {
    padding-top: .6em;
  }

  #textarea {
    font-family: 'open sans';
    font-size: .9em;
    width: 100%;
    opacity: 99%;
  }

    input[placeholder] {
    text-align: center;
    padding: .5em;
    width: 100%;
    opacity: 99%;


  }

  .send_button {
    font-family: 'Roboto Mono', 'monospace';

    width: 25%;
    background: none;
    color: #6696AC;
    float: right;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-color: #6696AC;
    border: solid;
    margin-bottom: 100px;
    margin-top: -1vh;
    margin-top: 10px;
    margin-right: 10px;

  }
  .send_button:hover {
    background-color: #FFFFFF;
    border: 4px solid;
    border-color: #6696AC;
  }

.mapwrapper {
  display: grid;
  padding: 1.4em;
}

}

@media only screen and (min-width: 601px) {
  .h1k{
    font-family: 'palatino linotype';
    color:#333333;
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
  }
  .info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 2em;
  }
  .aebk{
    font-family: 'palatino linotype';
    color:#333333;
  }
  .h2aa {
    font-size: 1.2em;
  }
  .leftarea {
    margin-top: 10%;
  font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: .9em;
    color: #333333;
    margin-left: 2em;
    grid-column: 2/3;
  }
  .leftarea .fas {
    color: #3eac6a;
    font-size: 150%;
  }
  .adrk{
    margin-top: 1.3em;
  }
  .odensek{
    padding-left: 1.4em;
  }
  .rightarea{
    margin-top: 10%;
  font-family: 'Open Sans', sans-serif;
    color: #333333;
    margin-right: 2em;
    align-content: flex-end;
    text-align: center;
    grid-column: 3/4;
  }

  .adrk, .tlfk, .emailk, .mfk, .loerk, .soenk {
    padding-top: 1em;
  }

  .formwrapper{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
  }

  .formk {
  font-family: 'Open Sans', sans-serif;
    font-size: .9em;
    color: #333333;
    margin: 1.4em;
    grid-column: 2/4;
    text-align: center;
    width: 95%;


  }

  .navntk, .emailtk, .emnetk, .bedskedtk {
    padding-top: .6em;
  }

  #textarea {
    font-family: 'open sans';
    font-size: .9em;
    width: 100%;
    opacity: 99%;
  }

    input[placeholder] {
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
    width: 100%;
    opacity: 99%;
  }

  .send_button {
    font-family: 'Roboto Mono', 'monospace';
    padding: 10px;
    width: 20%;
    background: none;
    color: #6696AC;
    float: right;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0;
    border-color: #6696AC;
    border: solid;
    margin-bottom: 200px;
    margin-top: -1vh;
    margin-top: 10px;
  }
  .send_button:hover {
    background-color: #FFFFFF;
    border: 4px solid;
    border-color: #6696AC;
  }

.mapwrapper {
  display: grid;
  padding: 1.4em;
}
}
